<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css" type="text/css">
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" >
		<link rel="stylesheet" href="css/owl.theme.default.css" type="text/css" >
		<link href="fonts/roboto/Roboto-Light.ttf">
		<link rel="stylesheet" href="css/xzoom.css">
		<link rel="stylesheet" href="css/main.min.css">
	<title>Home</title>
</head>

<body>
		<header class="header">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2">
							<a href="" class="logoHeader"><img src="images/logo2.png" alt="logo" class="logoImg"></a>
						</div>
						<div class="col-md-6 col-sm-6">
							<ul class="topMenu">
								<li class="close">&times;</li>
								<li><a href="">Главная</a></li>
								<li class="products"><a href="">продукты</a>
									<div class="menu2">
										<ul class="droppedMenu">
											<li><a href="">Men</a></li>
											<li><a href="">Women</a></li>
											<li><a href="">Men</a></li>
										</ul>
									</div>
								</li>
								<li><a href="">о нас</a></li>
								<li><a href="">контакты</a></li>
							</ul>
							<div class="mobileMenu">
								<span class="line"></span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="search">
								<input type="text" placeholder="Search" class="searchbox" id="search">
								<img src="images/ellipse.png" alt="" class="ellipse">
								<div  class="cart"><img src="images/cart.png"  alt="">
								<div id="cart-block">
									<div class="items">
										<span class="title">Lorem ipsum is a Pseudo-Latin</span>
										<span class="price">$29.99</span>
									</div>
									<div class="order-total">
										<span class="order-total-name">Итог заказа</span>
										<span class="order-total-sum">0</span>
									</div>
									<div class="buttons">
										<a href="#" class="view-cart">Посмотреть корзину</a>
										<a href="" class="checkout">Оформление заказа</a>
									</div>
								</div>
								</div>
								
							</div>
						</div>
					</div>	
				</div>
			</header>	
	<div class="container">
		<div class="contactBlock">
			<div class="breadcrumbs">
				Home/Contact
			</div>
			<div class="row">
				<div class="col-md-7">
					<p class="contactTitle">
						Contact with us
					</p>
					<form action="">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="contactInput" placeholder="First name*">
							</div>	
							<div class="col-md-6">
								<input type="text" class="contactInput" placeholder="Last name*">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="contactInput" placeholder="E-mail*">
							</div>
							<div class="col-md-6">
								<input type="text" class="contactInput" placeholder="Subject*">
							</div>
						</div>	
						<div class="row">	
							<div class="col-md-12">
								<textarea name="" id="" rows="3" class="contactInput" placeholder="Your message*"></textarea>
							</div>
						</div>
						<button class="submitContact">Submit</button>
					</form>
				</div>
				<div class="col-md-5">
					<p class="contactTitle">
						Contact with us
					</p>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23983.37359839453!2d69.22814144999998!3d41.28880855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1528187264689" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a href="#" class="logoFooter"><img src="images/logo3.png" alt="logo" class="logoImg2"></a>
				</div>
				<div class="col-md-4">
					<div class="address">
						<p>Lorem ipsum is a Pseudo-Latin</p>
						<p>Lorem ipsum is a Pseudo-Latin</p>
						<p>Lorem ipsum is a Pseudo-Latin</p>
						<p>Lorem ipsum is a Pseudo-Latin</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="location">
						<p class="filial">Namangan shahri filiali</p>
						<ul>
							<li><a href=""><img src="images/loc.png" alt=""></a></li>
							<li><a href=""><img src="images/tel.png" alt=""></a></li>
							<li><a href=""><img src="images/email.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="bottomBlock">
			<div class="container">
				Copyright © 2017 www.UXer.Life  All rights reserved.
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script src="js/xzoom.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>