<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style.css" type="text/css">
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" >
		<link rel="stylesheet" href="css/owl.theme.default.css" type="text/css" >
		<link href="fonts/roboto/Roboto-Light.ttf">
		<link rel="stylesheet" href="css/xzoom.css">
		<link rel="stylesheet" href="css/main.min.css">
	<title>Home</title>
</head>

<body>
		<header class="header">
				<div class="container">
					<div class="row">
						<div class="col-md-2 col-sm-2">
							<a href="" class="logoHeader"><img src="images/logo2.png" alt="logo" class="logoImg"></a>
						</div>
						<div class="col-md-6 col-sm-6">
							<ul class="topMenu">
								<li class="close">&times;</li>
								<li><a href="">Главная</a></li>
								<li class="products"><a href="">продукты</a>
									<div class="menu2">
										<ul class="droppedMenu">
											<li><a href="">Men</a></li>
											<li><a href="">Women</a></li>
											<li><a href="">Men</a></li>
										</ul>
									</div>
								</li>
								<li><a href="">о нас</a></li>
								<li><a href="">контакты</a></li>
							</ul>
							<div class="mobileMenu">
								<span class="line"></span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="search">
								<input type="text" placeholder="Search" class="searchbox" id="search">
								<img src="images/ellipse.png" alt="" class="ellipse">
								<div  class="cart"><img src="images/cart.png"  alt="">
								<div id="cart-block">
									<div class="items">
										<span class="title">Lorem ipsum is a Pseudo-Latin</span>
										<span class="price">$29.99</span>
									</div>
									<div class="order-total">
										<span class="order-total-name">Итог заказа</span>
										<span class="order-total-sum">0</span>
									</div>
									<div class="buttons">
										<a href="#" class="view-cart">Посмотреть корзину</a>
										<a href="" class="checkout">Оформление заказа</a>
									</div>
								</div>
								</div>
								
							</div>
						</div>
					</div>	
				</div>
			</header>	
	<!-- 	<div class="slider2">
		<div class="newSlider2 owl-carousel" id="slider1"">
		    <div class="item">
				<div class="topBlock">
					<div class="topBlock2">
						<div class="centerTitle">
							<div class="container">
							<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<p class="title1">
									Cicero's version of Liber Primus
								</p>
								<p class="subtitle">
									Most of its text is made up from sections 1.10.32–3 of Cicero's De <br>finibus bonorum et malorum (On the Boundaries of Goods and Evils;
								</p>
								<button class="addToCart2 top">SHop now</button>
								</div>
								<div class="col-md-3"></div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>  
			   <div class="item">
				<div class="topBlock">
					<div class="topBlock2">
						<div class="centerTitle">
							<div class="container">
							<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<p class="title1">
									Cicero's version of Liber Primus
								</p>
								<p class="subtitle">
									Most of its text is made up from sections 1.10.32–3 of Cicero's De <br>finibus bonorum et malorum (On the Boundaries of Goods and Evils;
								</p>
								<button class="addToCart2 top">SHop now</button>
								</div>
								<div class="col-md-3"></div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>          
		</div>
		</div> -->
	<!-- <div class="topClothes">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="leftBlock">
						<img src="images/ad.png" alt="">
						<div class="innerBlock">
							<div class="innerText">
								<p>Seize your moment</p>
								<button class="addToCart2">Shop now</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="rightBlock">
						<img src="images/OCRUY90.png" alt="">
						<div class="innerBlock">
							<div class="innerText">
								<p>Brand-New Wedding Suits</p>
								<button class="addToCart2">Shop now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="goods">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/1417.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/5.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/3.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/4.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/1417.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/5.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/3.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/4.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/1417.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/5.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/3.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="block">
						<img src="images/4.png" alt="" class="bImg">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText">$29.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="saleBlock">
	<div class="container">
		<p class="saleTitle">-30% OFF Sale</p>
		<div class="slider1">
	        <div class="newSlider owl-carousel" id="slider1">
	            <div class="item"><div class="block2">
					<img src="images/3.png" alt="">
					<!-- <img src="images/stars.png" alt="" class="stars"> -->
					<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
					<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
					<button class="addToCart">Add to cart</button>
				</div></div>
	            <div class="item">
					<div class="block2">
						<img src="images/4.png" alt="">
						<!-- <img src="images/stars.png" alt="" class="stars"> -->
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	            <div class="item">
					<div class="block2">
						<img src="images/2.png" alt="">
						<!-- <img src="images/stars.png" alt="" class="stars"> -->
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	              <div class="item">
					<div class="block2">
						<img src="images/1.png" alt="">
						<!-- <img src="images/stars.png" alt="" class="stars"> -->
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	        </div>
        </div>
	
	</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="#" class="logoFooter"><img src="images/logo3.png" alt="logo" class="logoImg2"></a>
			</div>
			<div class="col-md-4">
				<div class="address">
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="location">
					<p class="filial">Namangan shahri filiali</p>
					<ul>
						<li><a href=""><img src="images/loc.png" alt=""></a></li>
						<li><a href=""><img src="images/tel.png" alt=""></a></li>
						<li><a href=""><img src="images/email.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomBlock">
		<div class="container">
			Copyright © 2017 www.UXer.Life  All rights reserved.
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script src="js/xzoom.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>