<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" >
		<link rel="stylesheet" href="css/owl.theme.default.css" type="text/css" >
		<link  href="fonts/roboto/Roboto-Light.ttf">
		<link rel="stylesheet" href="css/xzoom.css">
		<link rel="stylesheet" href="css/main.min.css">
	<title>Home</title>
</head>

<body>
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-2">
						<a href="" class="logoHeader"><img src="images/logo2.png" alt="logo" class="logoImg"></a>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul class="topMenu">
							<li class="closeMenu">&times;</li>
							<li><a href="">Главная</a></li>
							<li class="products"><a href="">продукты</a>
								<div class="menu2">
									<ul class="droppedMenu">
										<li><a href="">Men</a></li>
										<li><a href="">Women</a></li>
										<li><a href="">Men</a></li>
									</ul>
								</div>
							</li>
							<li><a href="">о нас</a></li>
							<li><a href="">контакты</a></li>
						</ul>
						<div class="mobileMenu">
							<span class="line"></span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="search">
							<input type="text" placeholder="Search" class="searchbox" id="search">
							<img src="images/ellipse.png" alt="" class="ellipse">
							<div  class="cart"><img src="images/cart.png"  alt="">
							<div id="cart-block">
								<div class="items">
									<span class="title">Lorem ipsum is a Pseudo-Latin</span>
									<span class="price">$29.99</span>
								</div>
								<div class="order-total">
									<span class="order-total-name">Итог заказа</span>
									<span class="order-total-sum">0</span>
								</div>
								<div class="buttons">
									<a href="#" class="view-cart">Посмотреть корзину</a>
									<a href="" class="checkout">Оформление заказа</a>
								</div>
							</div>
							</div>
							
						</div>
					</div>
				</div>	
			</div>
		</header>	
<div class="content">
		<div class="container">
		<div class="row">
			<div class="col-md-5">
					<div class="xzoom-container">
						<div class="img-box">
							<img class="xzoom" id="xzoom-default" src="images/gallery/preview/men-1.jpg" xoriginal="images/gallery/original/men-1.jpg" />
						</div>
						
						<div class="xzoom-thumbs">
							<a href="images/gallery/original/men-1.jpg">
								<img class="xzoom-gallery" width="80" src="images/gallery/thumbs/men-1.jpg"  xpreview="images/gallery/preview/men-1.jpg" title="The description goes here">
							</a>
							<a href="images/gallery/original/men-2.jpg">
								<img class="xzoom-gallery" width="80" src="images/gallery/preview/men-2.jpg" title="The description goes here">
							</a>
							<a href="images/gallery/original/men-3.jpg">
								<img class="xzoom-gallery" width="80" src="images/gallery/preview/men-3.jpg" title="The description goes here">
							</a>
							<a href="images/gallery/original/men-4.jpg">
								<img class="xzoom-gallery" width="80" src="images/gallery/preview/men-4.jpg" title="The description goes here">
							</a>
						</div>
				  </div> 
			</div>
			<div class="col-md-7">
				<div class="description">
					<h2>Lorem ipsum dolor sit</h2>
					<table class="shop_attributes">
						<tbody>
							<tr>
								<th>color</th>
								<td>
									<p>Black, Claret Red, Dark Blue, Red, White</p>
								</td>
							</tr>
							<tr>
								<th>Cut</th>
								<td>
									<p>Regular Fit, Slim Fit</p>
								</td>
							</tr>
							<tr>
								<th>size</th>
								<td><p>44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>







<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="footerLogoBox">
					<a href="#" class="logoFooter"><img src="images/logo3.png" alt="logo" class="logoImg2"></a>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="address">
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="location">
					<p class="filial">Namangan shahri filiali</p>
					<ul>
						<li><a href="" class="location-footer"> <span>lorem ipsum</span></a></li>
						<li><a href="" class="phone"> <span>lorem ipsum</span></a></li>
						<li><a href="" class="email"><span>lorem ipsum</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomBlock">
		<div class="container">
			Copyright © 2017 www.UXer.Life  All rights reserved.
		</div>
	</div>
</footer>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script src="js/xzoom.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>