{% extends 'base.html' %}
{% load static thumbnail i18n %}
{% block title %}
{{ site_name }} | {% trans 'Home page' %}
{% endblock %}
{% block content %}
{{ header }}
<div class="slider2">
    <div class="newSlider2 owl-carousel" id="slider1">
        <div class="item">
            <div class="topBlock">
                <div class="topBlock2">
                    <div class="centerTitle">
                        <div class="container">
                        <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="title1">
                                Cicero's version of Liber Primus
                            </p>
                            <p class="subtitle">
                                Most of its text is made up from sections 1.10.32–3 of Cicero's De <br>finibus bonorum et malorum (On the Boundaries of Goods and Evils;
                            </p>
                            <button class="addToCart2 top">SHop now</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="item">
            <div class="topBlock">
                <div class="topBlock2">
                    <div class="centerTitle">
                        <div class="container">
                        <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <p class="title1">
                                Cicero's version of Liber Primus
                            </p>
                            <p class="subtitle">
                                Most of its text is made up from sections 1.10.32–3 of Cicero's De <br>finibus bonorum et malorum (On the Boundaries of Goods and Evils;
                            </p>
                            <button class="addToCart2 top">SHop now</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topClothes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contentBlock">
                    <div class="leftBlock">
                        <img src="{% static 'images/ad.png' %}" alt="">
                        <div class="innerBlock">
                            <div class="innerText">
                                <p>Seize your moment</p>
                                <button class="addToCart2">Shop now</button>
                            </div>
                        </div>
                    </div>

                    <div class="rightBlock">
                        <img src="{% static 'images/OCRUY90.png' %}" alt="">
                        <div class="innerBlock">
                            <div class="innerText">
                                <p>Brand-New Wedding Suits</p>
                                <button class="addToCart2">Shop now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="goods">
    <div class="container">
        <div class="row">
            {% for top_product in top_products %}
                <div class="col-md-3 col-sm-6">
                    <div class="block">
                        <a href="{{ top_product.get_absolute_url }}">
                            <img src="{% thumbnail top_product.get_default_image.file 261x244 crop %}" alt="" class="bImg">
                            <p class="blockTxt">{{ top_product.name }}</p>
                        </a>
                        <p class="bText">{{ top_product.get_price }}</p>
                        <button class="addToCart">{% trans 'Add to cart' %}</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="saleBlock">
	<div class="container">
		<p class="saleTitle">-30% OFF Sale</p>
		<div class="slider1">
	        <div class="newSlider owl-carousel" id="slider1">
	            <div class="item"><div class="block2">
					<img src="{% static 'images/3.png' %}" alt="">
					<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
					<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
					<button class="addToCart">Add to cart</button>
				</div></div>
	            <div class="item">
					<div class="block2">
						<img src="{% static 'images/4.png' %}" alt="">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	            <div class="item">
					<div class="block2">
						<img src="{% static 'images/2.png' %}" alt="">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	              <div class="item">
					<div class="block2">
						<img src="{% static 'images/1.png' %}" alt="">
						<p class="blockTxt">Lorem ipsum is a Pseudo-Latin</p>
						<p class="bText"> <span><del> $29.99</del></span>$9.99</p>
						<button class="addToCart">Add to cart</button>
					</div>
	            </div>
	        </div>
        </div>
	</div>
</div>
{{ footer }}
{% endblock %}