{% extends 'base.html' %}
{% load thumbnail i18n %}

{% block title %}{{ site_name }} | {{ object.name }}{% endblock %}

{% block content %}
{{ header }}
{{ breadcrumbs }}
<div class="goods">
    <div class="container">
        <div class="row">
            <div class="list-group">
                {% for product in product_list %}
                    <div class="list-group-item">
                        <div class="text">
                            <div class="container">
                                <div class="row">

                                    <div class="image col-md-2">
                                        <img src="{% thumbnail product.get_default_image.file 140x140 crop %}" alt="">
                                    </div>
                                    <div class="col-md-10">
                                        <a href="{{ product.get_absolute_url }}">
                                            {{ product.name }}
                                        </a>
                                        {{ product.description|safe|truncatewords:90 }}
                                        <a href="{{ product.get_absolute_url }}">
                                            {% trans 'more' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'parts/pagination.html' %}
</div>
{{ footer }}
{% endblock %}