{% load static i18n %}
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="footerLogoBox">
					<a href="{% url 'main:home' %}" class="logoFooter">
                        <img src="{% static 'images/logo3.png' %}" alt="logo" class="logoImg2">
                    </a>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="address">
					{% for menu_item in menu_items %}
                        <p>
                            <a href="{% url 'main:static' slug=menu_item.slug %}">
                                {{ menu_item.name }}
                            </a>
                        </p>
                    {% endfor %}
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="location">
					<p class="filial">{% trans 'Namangan city branch' %}</p>
					<ul>
						<li>
                            <a href="" class="location-footer">
                                <span>
                                    {% blocktrans %}
										Street Bog'ishamol, 12.
										Almaota shahri. Ojet bozori, 1 rayd 26-27 dukon.
									{% endblocktrans %}
                                </span>
                            </a>
                        </li>
						<li>
                            <a href="tel:+998913601515" class="phone">
                                <span>
									+998913601515
									{% trans 'Toshkent shahri' %}
									+99890 74141 11
									+ 99894 507 25 25
								</span>
                            </a>
                        </li>
						<li><a href="mailto:info@zeroplus.uz" class="email"><span>info@zeroplus.uz</span></a></li>
                        <li>
                            <a href="https://datasite.uz" target="_blank" class="datasite-logo">
                                <div class="dev text-center">
                                    <span>{% blocktrans %}Site developed by{% endblocktrans %}</span>
                                    <img src="{% static 'images/logo-datasite2.png' %}" alt="DataSite Technology">
                                </div>
                            </a>
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomBlock">
		<div class="container">
			{% trans 'Copyright' %} © {{ now|date:'Y' }} {% trans 'All rights reserved' %}.
		</div>
	</div>
</footer>
