{% load static %}
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="footerLogoBox">
					<a href="#" class="logoFooter"><img src="{% static 'images/logo3.png' %}" alt="logo" class="logoImg2"></a>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="address">
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
					<p>Lorem ipsum is a Pseudo-Latin</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="location">
					<p class="filial">Namangan shahri filiali</p>
					<ul>
						<li><a href="" class="location-footer"> <span>lorem ipsum</span></a></li>
						<li><a href="" class="phone"> <span>lorem ipsum</span></a></li>
						<li><a href="" class="email"><span>lorem ipsum</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomBlock">
		<div class="container">
			Copyright © 2017 www.UXer.Life  All rights reserved.
		</div>
	</div>
</footer>